@model IEnumerable<Workflow.Models.Ptask>

@{
    ViewData["Title"] = "Tasks";
}

<h4>My tasks</h4>

<table class="table table-striped" id="task_table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDeadline)
            </th>
            <th>
                Status
            </th>
            <th>
                Task list
            </th>
            <th>
                Project
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDeadline)
            </td>
            <td>
                @item.GetStatus()
            </td>
            <td>
                @item.TaskList.ListName
            </td>
            <td>
                <a href="/Project/Details/@item.TaskProjectId">@item.TaskProject.ProjectName</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{ 
    if (Model.Count() > 5)
    {
        <script>
            $(document).ready(function() {
                $('#task_table').DataTable();
            } );
        </script>
    }
}