@model Workflow.Models.Project

@{
    ViewData["Title"] = "Details";
    var project = ViewBag.project;
    var CurrentUser = ViewBag.CurrentUser;
    var Participants = ViewBag.Participants;
    bool isManager = project.ProjectManager == CurrentUser.UserId;

    WorkflowContext context = ViewBag.context;
}

<h3>@project.ProjectName</h3>
<p>@project.ProjectDescription</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Project manager
        </dt>
        <dd class="col-sm-10">
            @project.ProjectManagerNavigation.FirstName @project.ProjectManagerNavigation.LastName
        </dd>
        <dt class="col-sm-2">
            Deadline
        </dt>
        <dd class="col-sm-10">
            @project.ProjectDeadline
        </dd>
    </dl>
</div>

<hr />

<div class="row">
    <div class="col">
        <h5>Tasks</h5>
        <hr />
        @{
            foreach (TaskList tasklist in ViewBag.tasklist)
            {
                <div class="tasklist_view">
                    @{
                        foreach (Ptask task in tasklist.Ptask)
                        {
                            <div class="task_view">
                                <table class="">
                                    <tr>
                                        <th>@task.TaskName</th>
                                    </tr>
                                    <tr>
                                        <td>@task.Description</td>
                                    </tr>
                                    <tr>
                                        <th>Deadline</th>
                                        <td>@task.TaskDeadline</td>
                                    </tr>
                                    <tr>
                                        @{
                                            foreach (AssignedTask assigned in task.AssignedTask)
                                            {
                                                <th>Assigned to</th>
                                                User user = context.User.Find(assigned.UserId);
                                                <td>@user.FirstName @user.LastName</td>
                                            }
                                        }
                                    </tr>
                                </table>
                                <hr />
                            </div>
                        }
                    }

                </div>
            }
        }

    </div>
    <div class="col-2">
        <h5>Participants</h5>
        <hr />
        <ul>
            @{
                foreach (ProjectParticipant p in Participants)
                {
                    <li>@p.User.FirstName @p.User.LastName</li>
                }
            }
        </ul>
    </div>
    @{
        if (isManager)
        {
            <div class="col-3">
                <h5>Available employees</h5>
                <hr />
                <p>Overview of employees that can be invited to participate (only visible for manager)</p>
            </div>
        }
    }
</div>

<hr />
<div>
    @{
        if (isManager)
        {
            <a asp-action="Edit" asp-route-id="@project.ProjectId">Edit |</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
