@model Workflow.Models.Project

@{
    ViewData["Title"] = "Details";

    var project = ViewBag.project;
    var CurrentUser = ViewBag.CurrentUser;
    var Participants = ViewBag.Participants;
    var availableUsers = ViewBag.availableUsers;

    bool isManager = project.isManager(CurrentUser.UserId);
    bool isFinished = project.isFinished();
    bool isArchived = project.isArchived();

    WorkflowContext context = ViewBag.context;
}

<h3>@project.ProjectName</h3>
<p>@project.ProjectDescription</p>
@{
    if (isManager && !isFinished)
    {
        <p><a href="/Report/Create/@project.ProjectId">Finish project</a></p>
    }
    if (isFinished && !isArchived)
    {
        <p>Project is marked as finished by the manager and awaiting admin approval.</p>
    }
    else if (isArchived)
    {
        <p>This project is finished.</p>
    }
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Project manager
        </dt>
        <dd class="col-sm-10">
            @project.ProjectManagerNavigation.GetName()
        </dd>
        <dt class="col-sm-2">
            Deadline
        </dt>
        <dd class="col-sm-10">
            @project.ProjectDeadline
        </dd>
    </dl>
</div>

<hr />

<div class="row">
    <div class="col">
        <h5>Tasks</h5>
        <hr />
        @{
            foreach (TaskList tasklist in ViewBag.tasklist)
            {
        <div class="tasklist_view">

            <h5>@tasklist.ListName</h5>

            @{
                foreach (Ptask task in tasklist.Ptask)
                {
                    <div class="task_view">
                        <div class="row">
                            <div class="col">
                                <h6>@task.TaskName</h6>
                            </div>
                            @{
                                if (isManager && !isFinished)
                                {
                                    <div class="col right_align">
                                        <a asp-controller="Ptask" title="Edit" asp-action="Edit" asp-route-id="@task.TaskId"><i class="fas fa-edit"></i></a>


                                        <form asp-controller="Ptask" asp-action="Delete" asp-route-id="@task.TaskId">
                                            <button title="Delete" type="submit" class="noButton warning"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row">
                            <div class="col">
                                <i>Deadline: @task.TaskDeadline</i>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <p>@task.Description</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            @{
                                var myTask = false;
                                foreach (AssignedTask assigned in task.AssignedTask)
                                {
                                    User user = context.User.Find(assigned.UserId);
                                    <div class="col">
                                        <i>Assigned to</i> @user.GetName()
                                        @{
                                            if (!isFinished && isManager)
                                            {
                                                <a title="Delete" class="warning" href="/Ptask/Unassign/@assigned.AssignedTaskId"><i class="fas fa-times"></i></a>
                                            }
                                        }
                                    </div>
                                    if (user.UserId == CurrentUser.UserId)
                                    {
                                        myTask = true;
                                    }
                                }
                                if (task.AssignedTask.Count <= 0 && !isFinished)
                                {
                                    <div class="col">Unassigned</div>
                                    <div class="col right_align">
                                        @{
                                            if (isManager)
                                            {
                                                <form method="post" action="/Ptask/Assign/">
                                                    <select name="user_id" class="form-control" onchange="this.form.submit()">
                                                        <option value="">Assign</option>
                                                        @{
                                                            @foreach (ProjectParticipant p in Participants)
                                                            {
                                                                <option value="@p.UserId">@p.User.GetName()</option>
                                                            }
                                                        }
                                                    </select>
                                                    <input type="hidden" name="task_id" value="@task.TaskId" />
                                                    <input type="hidden" name="project_id" value="@project.ProjectId" />
                                                </form>
                                            }
                                        }
                                        <form method="post" action="/Ptask/Assign/">
                                             <input type="hidden" name="user_id" value="@CurrentUser.UserId" />
                                             <input type="hidden" name="task_id" value="@task.TaskId" />
                                             <input type="hidden" name="project_id" value="@project.ProjectId" />
                                             <input type="submit" value="Volunteer" class="btn btn-primary" />
                                        </form>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><em>@task.GetStatus()</em></p>
                            </div>
                            <div class="col right_align">
                                @{
                                    if ((myTask || isManager) && !isFinished)
                                    {
                                        if (task.CompletionDate == null)
                                        {
                                            <a href="/Ptask/Complete/@task.TaskId">Complete task</a>
                                        }
                                        else
                                        {
                                            <a class="warning" href="/Ptask/RemoveComplete/@task.TaskId">Mark as incomplete</a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
            }
            if (isManager && !isFinished)
            {
                <p>
                    <a asp-controller="PTask" asp-action="Create">Create New</a>
                </p>
            }
        }


    </div>
    <div class="col-3">
        <h5>Participants</h5>
        <hr />
        <ul class="noStyle">
            @{
                foreach (ProjectParticipant p in Participants)
                {
                    <li>
                        @{
                            if (p.User.UserId != CurrentUser.UserId)
                            {
                            <form method="post" action="/Project/RemoveParticipant">
                                <input type="hidden" name="projectId" value="@project.ProjectId" />
                                <input type="hidden" name="userId" value="@p.User.UserId" />
                                @p.User.GetName()
                                @{
                                    if (!isFinished && isManager)
                                    {
                                        <button title="Remove from project" type="submit" class="noButton warning"><i class="fas fa-user-slash"></i></button>
                                    }
                                }

                            </form>
                            }
                        }
                    </li>
                }
            }
        </ul>
    </div>
    @{
        if (isManager && !isFinished)
        {
            <div class="col-3">
                <h5>Available employees</h5>
                <hr />
                <ul class="noStyle">
                    @{
                        foreach (User user in availableUsers)
                        {
                            <li>
                                <form method="post" action="/Project/AddParticipant">
                                    <input type="hidden" name="projectId" value="@project.ProjectId" />
                                    <input type="hidden" name="userId" value="@user.UserId" />
                                    <a href="/User/Details/@user.UserId">@user.GetName()</a>
                                    <button title="Add to project" type="submit" class="noButton"><i class="fas fa-plus"></i></button>
                                </form>

                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }
</div>

<hr />
<div>
    @{
        if (isManager && !isFinished)
        {
            <a asp-action="Edit" asp-route-id="@project.ProjectId">Edit |</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
