@model Workflow.Models.Project

@{
    ViewData["Title"] = "Details";

    var project = ViewBag.project;
    var CurrentUser = ViewBag.CurrentUser;
    var Participants = ViewBag.Participants;
    var availableUsers = ViewBag.availableUsers;

    bool isManager = project.ProjectManager == CurrentUser.UserId;
    bool isFinished = project.MarkedAsFinished != 0;
    bool isArchived = project.CompletionDate != null;

    WorkflowContext context = ViewBag.context;
    var HttpContext = ViewBag.HttpContext;
}

<h3>@project.ProjectName</h3>
<p>@project.ProjectDescription</p>
@{
    if (isManager && !isFinished)
    {
        <p><a href="/Report/Create/@project.ProjectId">Finish project</a></p>
    }
    if (isFinished && !isArchived)
    {
        <p>Project is marked as finished by the manager and awaiting admin approval.</p>
    }
    else if (isArchived)
    {
        <p>This project is finished.</p>
    }
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Project manager
        </dt>
        <dd class="col-sm-10">
            @project.ProjectManagerNavigation.FirstName @project.ProjectManagerNavigation.LastName
        </dd>
        <dt class="col-sm-2">
            Deadline
        </dt>
        <dd class="col-sm-10">
            @project.ProjectDeadline
        </dd>
    </dl>
</div>

<hr />

<div class="row">
    <div class="col">
        <h5>Tasks</h5>
        <hr />
        @{
            foreach (TaskList tasklist in ViewBag.tasklist)
            {
                <div class="tasklist_view">
                    @{
                        foreach (Ptask task in tasklist.Ptask)
                        {
                            <div class="task_view">
                                <table class="">
                                    <tr>
                                        <th>@task.TaskName</th>
                                    </tr>
                                    <tr>
                                        <td>@task.Description</td>
                                    </tr>
                                    <tr>
                                        <th>Deadline</th>
                                        <td>@task.TaskDeadline</td>
                                    </tr>
                                    <tr>
                                        @{
                                            var myTask = false;
                                            foreach (AssignedTask assigned in task.AssignedTask)
                                            {
                                                <th>Assigned to</th>
                                                User user = context.User.Find(assigned.UserId);
                                                <td>@user.FirstName @user.LastName</td>
                                                if (user.UserId == CurrentUser.UserId)
                                                {
                                                    myTask = true;
                                                }
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        @{
                                            if (task.CompletionDate != null)
                                            {
                                                if ((isManager || myTask) && !isFinished)
                                                {
                                                    <td>Finished - <a href="/Ptask/RemoveComplete/@task.TaskId">unfinish</a></td>
                                                }
                                                else
                                                {
                                                    <td>Finished</td>
                                                }
                                            }
                                            else if ((isManager || myTask) && !isFinished)
                                            {
                                                <td><a href="/Ptask/Complete/@task.TaskId">Finish</a></td>
                                            }
                                        }
                                    </tr>
                                </table>
                                <hr />
                            </div>
                        }
                    }

                </div>
            }
            if (isManager && !isFinished)
            {
                <p>
                    <a asp-controller="PTask" asp-action="Create">Create New</a>
                </p>
            }
        }


    </div>
    <div class="col-3">
        <h5>Participants</h5>
        <hr />
        <ul class="noStyle">
            @{
                foreach (ProjectParticipant p in Participants)
                {
                    <li>
                        @p.User.FirstName @p.User.LastName
                        @{
                            if (isManager && p.User.UserId != CurrentUser.UserId && !isFinished)
                            {
                                <form method="post" action="/Project/RemoveParticipant">
                                    <input type="hidden" name="projectId" value="@project.ProjectId" />
                                    <input type="hidden" name="userId" value="@p.User.UserId" />
                                    <input type="submit" value="Kick" />
                                </form>
                            }
                        }
                    </li>
                }
            }
        </ul>
    </div>
    @{
        if (isManager)
        {
            <div class="col-3">
                <h5>Available employees</h5>
                <hr />
                <ul class="noStyle">
                    @{
                        foreach (User user in availableUsers)
                        {
                            <li>
                                @user.FirstName @user.LastName
                                @{
                                    if (isManager && !isFinished)
                                    {
                                        <form method="post" action="/Project/AddParticipant">
                                            <input type="hidden" name="projectId" value="@project.ProjectId" />
                                            <input type="hidden" name="userId" value="@user.UserId" />
                                            <input type="submit" value="Add" />
                                        </form>
                                    }
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }
</div>

<hr />
<div>
    @{
        if (isManager && !isFinished)
        {
            <a asp-action="Edit" asp-route-id="@project.ProjectId">Edit |</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
