@model Workflow.Models.Project

@{
    ViewData["Title"] = "Details";
    var project = ViewBag.project;
    var CurrentUser = ViewBag.CurrentUser;
    bool isManager = project.ProjectManager == CurrentUser.UserId;
}

<h3>@project.ProjectName</h3>
<p>@project.ProjectDescription</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Project manager
        </dt>
        <dd class="col-sm-10">
            @project.ProjectManagerNavigation.FirstName @project.ProjectManagerNavigation.LastName
        </dd>
        <dt class="col-sm-2">
            Deadline
        </dt>
        <dd class="col-sm-10">
            @project.ProjectDeadline
        </dd>
    </dl>
</div>

<hr />

<div class="row">
    <div class="col">
        <h5>Tasks</h5>
        <p>Overview of tasks</p>
    </div>
    <div class="col">
        <h5>Participants</h5>
        <p>Overview of participants in the project</p>
    </div>
    @{
        if (isManager)
        {
            <div class="col">
                <h5>Available employees</h5>
                <p>Overview of employees that can be invited to participate (only visible for manager)</p>
            </div>
        }
    }
</div>

<hr />
<div>
    @{
        if (isManager)
        {
            <a asp-action="Edit" asp-route-id="@project.ProjectId">Edit |</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
