@model IEnumerable<Workflow.Models.Project>

@{
    ViewData["Title"] = "Index";
    var CurrentUser = ViewBag.CurrentUser;
}

<h3>My projects</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Start
            </th>
            <th>
                Deadline
            </th>
            <th>
                Manager
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ProjectName
            </td>
            <td>
                @item.ProjectDescription
            </td>
            <td>
                @item.ProjectStart
            </td>
            <td>
                @item.ProjectDeadline
            </td>
            <td>
                @item.ProjectManagerNavigation.FirstName @item.ProjectManagerNavigation.LastName
            </td>
            <td>
                @{
                    // check if you are project manager
                    if (item.ProjectManager == CurrentUser.UserId)
                    {
                        // if so, you get the "edit" option
                        <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit |</a>
                    }
                }
                <a asp-action="Details" asp-route-id="@item.ProjectId">View</a>
            </td>
        </tr>
}
    </tbody>
</table>
