@model Workflow.Models.User

@{
    ViewData["Title"] = "Details";
    var CurrentUser = ViewBag.CurrentUser;
    var myProfile = Model.UserId == CurrentUser.UserId;
}

<h1>User profile</h1>

<div>
    <form method="post" asp-controller="User" asp-action="Edit">
        <input hidden name="UserId" value="@Html.DisplayFor(model => model.UserId)" />
        <input hidden name="Password" value="@Html.DisplayFor(model => model.Password)" />
        <input hidden name="Role" value="@Html.DisplayFor(model => model.Role)" />
        <div class="row">
            <div class="col-2">
                <label for="Username">Username</label>
            </div>
            <div class="col">
                <input type="text" name="Username" value="@Html.DisplayFor(model => model.Username)" class="form-control-plaintext" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="FirstName">First name</label>
            </div>
            <div class="col">
                <input type="text" name="FirstName" value="@Html.DisplayFor(model => model.FirstName)" @if (!myProfile) { Write("class=form-control-plaintext readonly"); } class="form-control"  />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label for="LastName">Last name</label>
            </div>
            <div class="col">
                <input type="text" name="LastName" value="@Html.DisplayFor(model => model.LastName)"  @if (!myProfile) { Write("class=form-control-plaintext readonly"); } class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="Email">E-mail</label>
            </div>
            <div class="col">
                <input type="text" name="Email" value="@Html.DisplayFor(model => model.Email)"  @if (!myProfile) { Write("class=form-control-plaintext readonly"); } class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="PhoneNumber">Phone number</label>
            </div>
            <div class="col">
                <input type="text" name="PhoneNumber" value="@Html.DisplayFor(model => model.PhoneNumber)"  @if (!myProfile) { Write("class=form-control-plaintext readonly"); } class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="About">About</label>
            </div>
            <div class="col">
                <input type="text" name="About" value="@Html.DisplayFor(model => model.About)"  @if (!myProfile) { Write("class=form-control-plaintext readonly"); } class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Update profile" class="btn btn-primary"  @if (!myProfile) { Write("hidden"); } />
            </div>
        </div>
    </form>
</div>
